
body{
  overflow-x: hidden;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* BODY JANGAN FLEX CENTER */
body {
    background: linear-gradient(135deg, #0f4c81, #1b6ca8);
    min-height: 100vh;
}

body {
  background-image: url("../img/Fotobaground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header a::after {
  content: "";
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f5c400;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.header a:hover::after {
  transform: scaleX(1);
}

/* HEADER / KOTAK BIRU */
.header {
    width: 100%;
    height: 70px;
    background-color: #1e6bd6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* WRAPPER KHUSUS BUAT TENGAHIN CARD */
.kontak {
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CARD */
.kontak-card {
    background: #fff;
    padding: 35px;
    max-width: 420px;
    width: 90%;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

.kontak-card h2 {
    color: #0f4c81;
    margin-bottom: 10px;
}

.desc {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.info p {
    font-size: 14px;
    color: #333;
    margin: 10px 0;
}

.info i {
    color: #0f4c81;
    margin-right: 8px;
}

.btn-group {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 230px;
}

.btn {
    text-decoration: none;
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s;
}

.btn i {
    margin-right: 8px;
}

.btn.wa {
    background: linear-gradient(135deg, #25d366, #1ebe57);
}

.btn.ig {
    background: linear-gradient(135deg, #fd1d1d, #833ab4);
}

.btn:hover {
    transform: scale(1.04);
    opacity: 0.9;
}



