
body {
  overflow-x: hidden;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* NAVBAR */
.navbar {
    height: 70px;
    background: linear-gradient(135deg, #0f4c81, #1b6ca8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.logo {
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
}

.menu a.active {
    border-bottom: 2px solid #fff;
    padding-bottom: 4px;
}

/* HERO */
.hero {
    background: linear-gradient(135deg, #1b6ca8, #0f4c81);
    color: white;
    text-align: center;
    padding: 70px 20px;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

/* PROFIL SECTION */
.profil {
    padding: 60px 20px;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card h2 {
    color: #0f4c81;
    margin-bottom: 10px;
}

.card p,
.card li {
    font-size: 14px;
    color: #333;
    line-height: 1.6;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #0f4c81;
    color: white;
    margin-top: 40px;
}